---
import Navigation from '../components/Navigation.astro';
import '../styles/global.css'

const pageTitle = "Sobre nosotros";

const identity = {
  firstName: "gaston",
  lastName: "fuentes",
  country: "Argentina",
  hobbies: ["leer", "bailar", "padel"],
};

const skills = ["html", "css", "js"];

const happy = true;
const finished = false;
const goal = 3;

const skillColor = "navy";
const fontWeight = "bold";
const textCase = "uppercase";
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.svg" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />
    <title>Elargas - {pageTitle}</title>

    <style define:vars={{skillColor, fontWeight, textCase}}>
      h1{
        color: blueviolet;
        font-size: xx-large;
      }
      .skills{
        color: var(--skillColor);
        font-weight: var(--fontWeight);
        text-transform: var(--textCase);
      }
    </style>
  </head>
  <body>
    <Navigation />
    <section>
      <h1>{pageTitle}</h1>
      <p>
        Es una empresa dedicada a ampliar la oferta del servicio de provisión de
        gas hidrocarburífero y de gases de origen renovable en la Provincia de
        La Rioja. Esta actividad la desarrolla mediante la ejecución de diversas
        obras de distintas escalas y programas de fomento. Su obra de mayor
        envergadura es la Reactivación del Gasoducto Productivo La Rioja (Etapa
        I) De la Casa de Piedra a Chamical y Patquía, y el inminente inicio de
        la (Etapa II) Patquia a Chilecito. En el ámbito de redes barriales, se
        encuentra reactivando las obras de distribución en Las Agaves y Parque
        Industrial de la Capital. Además, inició el programa denominado “Llama
        encendida”, destinado a financiar las instalaciones domiciliarias
        internas de los potenciales clientes que tengan frente a su propiedad el
        tendido de red de gas natural.
      </p>
      <h2>mi datos</h2>
      <ul>
        <li>mi nombre es {identity.firstName} {identity.lastName}</li>
        <li>mi pais es: {identity.country}</li>
        {
          identity.hobbies.length > 2 && (
            <li> mi primer hobi es {identity.hobbies[0]} </li>
          )
        }
      </ul>
      <h3>mis skills son:</h3>
      {skills.map((s) => <li class="skills">{s}</li>)}

      {happy && <p>aguante river!!</p>}
      {finished && <p>aguante Quintela</p>}
      {goal === 3 ? <p>todo ok</p> : <p>todo mal</p>}
    </section>
  </body>
</html>
