---
const { imagen, titulo, texto, enlace } = Astro.props;
---

<style>
  #contenedor {
    background-color: #ffb02c;
}


#contenido {
    padding: 1rem;
    color: white;
    display: grid;
    gap: 1rem;
  }
  #contenido p,
  h4 {
    margin: 0;
    line-height: initial;
  }
  #contenido h4{
    font-size: large;
    text-transform: uppercase;
  }
  #contenido a{
    font-weight: bold;
    color: #FD2400;
    font-size: small;
    /* margin-top: 2rem; */
  }
</style>

<div id="contenedor">
  <img src={imagen} alt="" />
  <div id="contenido">
    <h4>{titulo}</h4>
    <!-- <p>
      {texto}
    </p> -->
    <!-- <button><a href={enlace}>ver mas</a></button> -->
    <a href={enlace}>Leer más</a>
  </div>
</div>
