---
import CardPost from "./CardPost.astro";

/* const allPosts = await Astro.glob("../pages/posts/*.md"); */
const{numero} = Astro.props;

/* obtenemos contenido desde contentful */
import { contentfulClient } from "../lib/contentful";

const allPosts = await contentfulClient.getEntries({
  content_type: "blogPost",
});
---

<style>
  #contenedor {
    display: grid;
    gap: 2rem;
    padding: 1rem;
    background-color: white;
  }
  @media screen and (min-width: 768px) {
    #contenedor {
      grid-template-columns: 1fr 1fr 1fr;
      gap: 1rem;
    }
  }
</style>

<div id="contenedor">
  {
    allPosts.items
      .slice(0, numero)
      .map((p) => (
        <CardPost
          imagen={p.fields.imagen}
          titulo={p.fields.titulo}
          texto={p.fields.resumen}
          enlace={p.fields.slug}
        />
      ))
  }
</div>
